#tag{
	height: 30px;
	line-height: 30px;
}
.wp-inner {
    margin: 2px auto;
    width: 1170px;
}
#tag >.wp-inner>p>i{
	color: #999999;
	padding:5px 10px 0px;
}
#content .title{
	font-family: "Roboto Medium";
	font-size: 26px;
	line-height: 33px;
	font-weight: bold;
    color: #1f1f1f;
}
.article p{
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto Medium";
	color: #5d5d5d;
}
#content>img{
	padding: 30px 0px 45px;
}
.article>p>span{
	font-weight: bold;
}
#like-share{
	padding-bottom: 30px;
}
#like-share>button{
	background-color: #4267b2;
	color: #fff;
	border-radius: 2.5px;
	border: none;
	height: 20px;
	cursor: pointer;}
#like-share>button>i{
	padding: 0px 5px;
}
.comment{
	height: 90px;
	 border-top:1px solid #f0f1f3; 
	 border-bottom:1px solid #f0f1f3; 
	 margin: 20px 0px;
}
.cm-inner{
	padding: 20px 0px;
}
.cm-inner img{
	padding-right: 10px;
}
.cm-inner input{
	height: 48px;
	width: 734px;
	border: 1px solid #dddfe3;
}
#Related-posts h3{
	padding: 40px 0px 15px;
	font-size: 21px; 
	line-height: 20px;
	font-weight: bold;
	font-family: "Roboto Medium"
}
#Related-posts-inner{
	height: 250px; 
	border-top: 1px solid #01a050;
}
#Related-posts-1,#Related-posts-2,#Related-posts-3{
	width: 255px;
	height: 210px;
	padding-top :20px;
}
#Related-posts-2{
	padding: 20px 17px;
}
#Related-posts-inner p a{
	font-family: "Roboto Bold";
	font-size: 14px;
	font-weight: bold;
	color: #1f1f1f; 
	padding-top: 10px;
	line-height: 20px;
	text-decoration: none;
}
#circle i{
	font-size: 20px;
	padding: 0px 3px;
}
#circle>a>i{
	color:#b5b5b5;
}
#circle i{
	color: #1f1f1f;
}
.text-center{
	text-align: center;
}
