#tag{
	height: 30px;
	line-height: 30px;
}
#tag >.wp-inner>p>i{
	color: #999999;
	padding:5px 10px 0px;
}
.wp-inner {
    margin: 2px auto;
}
#cat-main{
	width: 800px;
}
#top{
	height: 275px;
}
.text{
	width: 360px;
}
.text h3 a{
	font-size: 24px;
	display: block; 
	padding-bottom: 30px;
	color: #000000;
	text-decoration: none;
}
.text h3 a:hover{
	color: #02869e;
}
.bottom{
	height: 170px;
	padding: 30px 0px;
}
.bottom a{
	font-family: "Roboto Bold";
	font-size: 15px;
	color: #222222;
	font-weight: bold;
}
#ul-left{
	width: 405px;
}
#ul-right{
	width: 395px;
}
#ul-right ul li{
	padding-left: 15px;
}

#ul-left>.list-post li a.post-title{
	display: block; 
	width: 245px;
}
#ul-right>.list-post li a.post-title{
	display: block;
	 width: 230px;
	}


#group{
	border-top: 1px solid #01a050;
}
#wp-group{
	padding: 40px 0px;
}
.group-text{
	padding-left: 20px;
	width: 530px;
}
.group-text>h3>a{
	font-family: "Roboto";
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	text-decoration: none;
	color:#000000;
	}
.group-text>h3>a:hover{
		color:  #02869e;
	}
.group-text>span>i{
	color: #a5a5a5;
	padding: 10px;
}
.group-text>span{
	color: #a5a5a5;
}
.group-text>p{
	line-height: 20px;
}
.text-justify{
	font-family: "Roboto Regula";
	font-size: 14px;
	line-height: 24px;
	color: #464646;
}
p.page{
	color: #0b0b0b;
}
.page>input{
	margin: 0px 5px;
	background-color: #fff;
	border: 1px solid #dedede;
	cursor: pointer;
	width: 25px;
}
.active{
	background-color:#01a050 !important;
}
.page>input:hover{
	background-color:#01a050;
}





